html
    head
        title My Application 
    body
        ul
            li
                a(href="/") Home
            li
                a(href="/services") Services
            li
                a(href="/contact") Contact 
        
        block content 

        h4 Working hours: 
        h5 Monday - Friday 
        h5 9:00 AM to 17:00 PM