html
    head
        title My Application
        style
            include styles.css
    body
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/services") Services
                li
                    a(href="/contact") Contact         
        block content 

        div(class= 'working-hours')
            h4 Working hours: 
            h5 
                em Monday - Friday
                em  |   9:00 AM to 5:00 PM